span.var {
    color: blue;
}

span.bound {
    color: #006000;
}

span.tvar {
    color: purple;
}

span.normal {
    color: black;
}

.item-text {
    font-family: Consolas, monospace;
    font-size: 15px;
}

.form-element {
    margin-left: 0.5em;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    font-family: Consolas, monospace;
}

textarea.form-element {
    vertical-align: top;
    resize: none;
    overflow: hidden;
}

.hint-element {
    margin-left: 0.7em;
    margin-right: 0.7em;
}

.test-width {
    display: none;
    padding: 10px;
    font-family: Consolas, monospace;
    font-size: 15px;
}


tt.var {
    color: blue;
}

tt.bound {
    color: #006000;
}

tt.tvar {
    color: purple;
}

tt.normal {
    color: black;
}

.thm-content pre:hover {
    background-color: yellow;
}
