<!-- File containing templates -->

<script type="text/template" id='template-contents'>
    <div>
        <span><%=item.name%>:</span>
        <a href="#" id="content<%=id%>" name="<%=item.problem%>" class="content-link">
            \( <%=item._problem_latex%> \)
        </a>
    </div>
</script>

<script type="text/template" id='template-calc'>
    <div>
        <span>Step <%=step_num%>:</span>
        <span class="calc-equation">\( <%=latex%> \)</span>
        <span class="calc-reason">(<%=reason%>)</span>
    </div>
</script>
