.item-text {
    font-family: Consolas, monospace;
    font-size: 15px;
}

.form-element {
    margin-left: 0.5em;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    font-family: Consolas, monospace;
}

textarea.form-element {
    vertical-align: top;
    resize: none;
    overflow: hidden;
}

.hint-element {
    margin-left: 0.7em;
    margin-right: 0.7em;
}

.test-width {
    display: none;
    padding: 10px;
    font-family: Consolas, monospace;
    font-size: 15px;
}

.ext-output {
    margin-top: 7px;
    margin-left: 10px;
}