body {
    margin: 0;
    font-size: 14px;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height : 96%;
    overflow: hidden;

}

.home-header {
    height: 40px;
    border-bottom: 1px solid #bfbfbf;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.home-header-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.home-header-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#close_tab {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    margin-left: 8px;
    -webkit-appearance: none;
}


.pans {
    display: -ms-flexbox;
    position: relative;
    flex-direction: row;
}

.code-pan {
    width: 100%;
    overflow: auto;
}

.input-area {
}

.input {
    display: flex;
    margin-top: 20px;
}

.output-pan {
    position: absolute;
    top: 0;
    bottom: 0;
}

/*div.CodeMirror-lines {*/
/*border: 1px solid #cfcfcf;*/
/*border-radius: 2px;*/
/*background: #f7f7f7;*/
/*line-height: 1.21429em;*/

/*}*/

a.fontcolor {
    color: black;
}

.input-box {
    width: 100%;
}

.output-area pre {
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.match-thm pre {
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.match-thm pre :empty {
    display: none;
}

.CodeMirror {
    margin-top: -21px;
    border-radius: 2px;
    background: #f8f8f8;
    border: 1px solid #eee;
    height: auto;
}

.split {
    border: 1px solid red;
    padding: 0px;
    margins: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}

.gutter {
    background-color: #7f7f7f;
    background-repeat: no-repeat;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    margin-top: 40px;
}

.gutter.gutter-vertical {
    cursor: row-resize;
}

.split.split-horizontal,
.gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

div.left {
    border: 0px solid;
    height: 80%;
    float: left;
    padding: 15px;
    margin-top: 40px;
}

div.right {
    border: 0px solid;
    height: 80%;
    float: right;
    margin-top: 40px;
}

div.rtop {
    border: 0px solid;
    width: 100%;
    height: 50%;
}

div.rbottom {
    border: 0px solid;
    width: 100%;
    height: 50%;
}

div.output-wrapper pre {
    margin: 0;
    padding: 10px 0px 1px 39px;
    border: 0;
    vertical-align: baseline;
    word-break: break-all;
    word-wrap: break-word;
    overflow: auto;
    line-height: inherit;
    white-space: pre-wrap;
    color: black;
    background-color: transparent;
    border-radius: 0;
    cursor: default;
}

.match-thm pre {
    cursor: pointer;
}

.match-thm .abs-thm > pre {
    font-weight: bold;
    font-size: 15px;
    color: blue;
    padding: 10px 0px 1px 39px;
    cursor: default;
}

.match-thm .rewrite-thm > pre {
    font-weight: bold;
    font-size: 15px;
    color: blue;
    padding: 10px 0px 1px 39px;
    cursor: default;
}

.match-thm a {
    font-size: 11px;
    padding: 10px 0px 1px 39px;
    line-height: 36px;
}

.thm-content pre:empty {
    display: none;
}

.abs-thm {
    float: left;
}

.rewrite-thm {
    float: left;
}

.clear {
    clear: both;
}

tt.var {
    color: blue;
}

tt.bound {
    color: #006000;
}

tt.tvar {
    color: purple;
}

#variables {
    margin-left: 19px;
}

#assumes {
    margin-left: 21px;
}