body {
    background: #F8F8F8;
    overflow: hidden;
}

div.total{
    margin-top: 1%;
    margin-left:1%;
}

div#progeam-ver {

}

div.program-ver {
    margin-top: 7%;
}

.left{
    height: 100vh;
    width: 30%;
    background: none;
    border-right: solid 1px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.right{
    width: 70%;
    position: absolute;
    left: 30%;
    right:0;
    top:0;
    background: none;
    height:100vh;

}

.display-con{
    margin-left: 5%;
    margin-top: 5%;
    font-size: 20px;
    font-family: Consolas, monospace;
}

#set_file{
    position: relative;
    top: 4%;
    font-size: 25px;
    background: #F0F0F0;
    color: black;
    border: solid 1px;
    border-radius: 4px;
    width: 8%;
}

#files {
    display: none;
}

.display-res {
    margin-left: 5%;
}

.con{
    background: #F8F8F8;
    font-size: 20px;
    font-family: Consolas, monospace;
    display: block;
    width: 95%;
    border: 1px solid;
    height:5vh;
    border-radius: 5px;
    cursor: pointer;
}

.code-content{
    margin-top:2%;
    margin-bottom:2%;
    height:20vh;
    resize: none;
}

.but{
    background: #00FF99;
    width: 30%;
    margin-top: 10%;
    margin-left:27%;
    height:7vh;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
}

span.title{
    font-weight: bold;
    color:
}