<!--Template for editing items.-->

<script type="text/template" id='template-file-metadata'>
    <div style="margin-left:20px;margin-top:20px;"
         class="tab-pane fade active code-cell"
         id="code<%=page_num%>-pan">
        <form id="edit-metadata-form<%=page_num%>" name="edit-form">
            <pre class="test-width"></pre>
            <input type="hidden" name="prev_name">
            <div>
                <label for="fname<%=page_num%>" class="keyword">theory</label>
                <input name="fname" class="form-element" id="fname<%=page_num%>"
                       min-width="100" spellcheck="false">
            </div>
            <div style="margin-top:5px">
                <label for="imports<%=page_num%>" class="keyword">imports</label>
                <input spellcheck="false" class="form-element" name="imports"
                       min-width="100" id="imports<%=page_num%>">
            </div>
            <div style="margin-top:5px">
                <label for="desc<%=page_num%>" class="keyword">description:</label>
                <textarea spellcheck="false" class="form-element" name="description"
                          min-width="200" id="desc<%=page_num%>"></textarea>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id='template-edit-thm'>
    <div style="margin-left:20px;margin-top:20px;"
         class="tab-pane fade active code-cell"
         id="code<%=page_num%>-pan">
        <form id="edit-thm-form<%=page_num%>" name="edit-form">
            <pre class="test-width"></pre>
            <div>
                <select id="dropdown-datatype<%=page_num%>" name="<%=page_num%>">
                    <option value="thm">theorem</option>
                    <option value="def.ax">constant</option>
                    <option value="type.ind">datatype</option>
                    <option value="def.ind">fun</option>
                    <option value="thm.ax">axiom</option>
                    <option value="def.pred">inductive</option>
                    <option value="def">definition</option>
                </select>

                <span id="const-head<%=page_num%>" class="hidden-ele">
                    <label id="const-label<%=page_num%>" class="keyword">constant</label>
                    <input spellcheck="false" class="form-element" id="const-name<%=page_num%>"
                           min-width="50" name="const_name">
                    <span class="form-element">::</span>
                    <input spellcheck="false" class="form-element unicode-replace"
                           id="const-type<%=page_num%>" min-width="100" name="const_type">
                </span>

                <span id="thm-head<%=page_num%>" class="hidden-ele">
                    <label id="thm-label<%=page_num%>" class="keyword">theorem</label>
                    <input spellcheck="false" class="form-element" id="thm-name<%=page_num%>"
                           min-width="100" name="name">
                    <span>:</span>
                </span>

                <span id="type-head<%=page_num%>" class="hidden-ele">
                    <label id="datatype-label<%=page_num%>" class="keyword">datatype</label>
                    <input spellcheck="false" class="form-element" id="type-edit-name<%=page_num%>"
                           min-width="50" name="type_edit_name">
                    <span class="form-element">=</span>
                </span>

                <span id="def-head<%=page_num%>" class="hidden-ele">
                    <label id="def-label<%=page_num%>" class="keyword">definition</label>
                    <input spellcheck="false" class="form-element" name="def_name"
                           min-width="50" id="def-name<%=page_num%>">
                    <span class="form-element">::</span>
                    <input spellcheck="false" class="form-element unicode-replace" name="def_type"
                           min-width="50" id="def-type<%=page_num%>">
                    <label class="keyword">where</label>
                </span>
            </div>

            <div id="thm<%=page_num%>" class="hidden-ele" style="text-indent:0.5em">
                <div style="margin-top:7px">
                    <label for="thm-vars<%=page_num%>" class="keyword">fixes</label>
                    <textarea spellcheck="false" name="vars" class="form-element unicode-replace"
                              min-width="100" id="thm-vars<%=page_num%>"></textarea>
                </div>
                <div style="margin-top:7px">
                    <label for="thm-prop<%=page_num%>" class="keyword">shows</label>
                    <input type="text" name="prop" class="form-element unicode-replace"
                           spellcheck="false" min-width="200" id="thm-prop<%=page_num%>">
                </div>
                <div style="margin-top:10px">
                    <span class="hint-element">
                        <input type="checkbox" id="backward-check<%=page_num%>" name="hint_backward">
                        <label for="backward-check<%=page_num%>">Backward</label>
                    </span>
                    <span class="hint-element">
                        <input type="checkbox" id="backward1-check<%=page_num%>" name="hint_backward1">
                        <label for="backward1-check<%=page_num%>">Backward1</label>
                    </span>
                    <span class="hint-element">
                        <input type="checkbox" id="forward-check<%=page_num%>" name="hint_forward">
                        <label for="forward-check<%=page_num%>">Forward</label>
                    </span>
                    <span class="hint-element">
                        <input type="checkbox" id="rewrite-check<%=page_num%>" name="hint_rewrite">
                        <label for="rewrite-check<%=page_num%>">Rewrite</label>
                    </span>
                    <span class="hint-element">
                        <input type="checkbox" id="resolve-check<%=page_num%>" name="hint_resolve">
                        <label for="resolve-check<%=page_num%>">Resolve</label>
                    </span>
                </div>
            </div>

            <div id="type<%=page_num%>" class="hidden-ele" style="text-indent:0.5em">
                <div style="margin-top:5px">
                    <textarea spellcheck="false" name="type_constrs" id="type-constrs<%=page_num%>"
                              min-width="200" class="form-element unicode-replace">
                    </textarea>
                </div>
                <div style="margin-top:7px">
                    <pre id="type-ext<%=page_num%>"
                         style="width:100%; background:transparent; text-indent:0"></pre>
                </div>
            </div>

            <div id="def<%=page_num%>" class="hidden-ele" style="text-indent:0.5em">
                <div style="margin-top:5px">
                    <textarea spellcheck="false" name="def_content" id="def-content<%=page_num%>"
                              min-width="200" class="form-element unicode-replace">
                    </textarea>
                </div>
                <div style="margin-top:10px">
                    <span class="hint-element">
                        <input type="checkbox" id="rewrite-check-def<%=page_num%>" name="hint_rewrite_def">
                        <label for="rewrite-check-def<%=page_num%>">Rewrite</label>
                    </span>
                </div>
                <div style="margin-top:7px">
                    <pre id="def-ext<%=page_num%>"
                            style="width:100%; background:transparent; text-indent:0"></pre>
                </div>
            </div>
        </form>
    </div>
</script>
