<!--Template for adding a tab.-->
<script type="text/template" id='template-tab'>
    <li class="nav-item" name="code<%=page_num%>">
        <a class="nav-link" data-toggle="tab" href="#code<%=page_num%>-pan" name="<%=page_num%>">
            <span><%=label%></span>
            <button id="close_tab" type="button" title="Remove this page" name="proof-tab">×</button>
        </a>
    </li>
</script>

<script type="text/template" id='template-file-metadata'>
    <div class="<%=class_name%>" id="code<%=add_page%>-pan" style="margin-left:20px;margin-top:20px;">
        <form id="edit-metadata-form<%=add_page%>" name="edit-metadata-form">
            <div class="form-group">
                <div class="col-auto">
                    <label for="fname<%=add_page%>">File name:</label>
                    <input name="fname" class="form-control" id="fname<%=add_page%>" spellcheck="false" style="margin-left:10px;width:60%;">
                </div>
            </div>
            <div class="form-group">
                <div class="col-auto">
                    <label for="imp<%=add_page%>">Imports:</label>
                    <input spellcheck="false" class="form-control" name="imports" id="imp<%=add_page%>" style="margin-left:10px;width:60%;">
                </div>
            </div>
            <div class="form-group">
                <div class="col-auto">
                    <label for="code<%=add_page%>">Description:</label>
                    <textarea spellcheck="false" class="form-control" name="description" id="code<%=add_page%>" style="margin-left:10px;width:60%;" rows="3"></textarea>
                </div>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id='template-edit-def-ax'>
    <div style="margin-left:35px;margin-top:20px;" name="<%=a_id%>"
         class="tab-pane fade in active code-cell edit-data"
         id="code<%=page_num%>-pan">
         <form id="edit-constant-form<%=page_num%>" name="edit-constant-form">
             <input type="hidden" name="number">
             <div class="form-group">
                 <div class="col-auto">
                    <label name="<%=page_num%>" for="data-name<%=page_num%>" style="float:left"><font color="#006000"><b>constant:&nbsp;&nbsp;</b></font></label>
                    <input spellcheck="false" class="form-control" id="data-name<%=page_num%>"
                           style="float:left;width:20%;background:transparent;" name="data_name">
                     <span style="float:left;">&nbsp;&nbsp;&nbsp;::&nbsp;&nbsp;&nbsp;</span>
                    <input spellcheck="false" class="form-control" id="data-content<%=page_num%>"
                           style="float:left;width:50%;background:transparent" name="data_content">
                 </div>
             </div>
         </form>
    </div>
</script>

<script type="text/template" id='template-edit-thm'>
    <div style="margin-left:20px;margin-top:20px;"
         class="tab-pane fade in active code-cell edit-data"
         id="code<%=page_num%>-pan">
        <form id="edit-thm-form<%=page_num%>" name="edit-thm-form">
            <input type="hidden" name="number">
            <div class="form-group">
                <div class="col-auto">
                    <label for="data-name<%= page_num %>"></label>
                    <input type="text" name="name" class="form-control" id="data-name<%= page_num %>">
                </div>
            </div>
            <div class="form-group">
                <div class="col-auto">
                    <label for="data-vars<%= page_num %>">Variables</label>
                    <textarea spellcheck="false" name="vars" class="form-control"
                              id="data-vars<%= page_num %>"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-auto">
                    <label for="data-content<%= page_num %>">Proposition</label>
                    <input type="text" name="prop"
                           class="form-control" spellcheck="false" id="data-content<%= page_num %>">
                </div>
            </div>
            <div class="form-group">
                <div class="form-check-inline">
                    <div class="col-auto">
                        <input class="form-check-input" type="checkbox" id="backward-check<%= page_num %>"
                               name="hint_backward">
                        <label class="form-check-label" for="backward-check<%= page_num %>">Backward</label>
                    </div>
                </div>
                <div class="form-check-inline">
                    <div class="col-auto">
                        <input class="form-check-input" type="checkbox" id="forward-check<%= page_num %>"
                               name="hint_forward">
                        <label class="form-check-label" for="forward-check<%= page_num %>">Forward</label>
                    </div>
                </div>
                <div class="form-check-inline">
                    <div class="col-auto">
                        <input class="form-check-input" type="checkbox" id="rewrite-check<%= page_num %>"
                               name="hint_rewrite">
                        <label class="form-check-label" for="rewrite-check<%= page_num %>">Rewrite</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id='template-edit-type-ind'>
    <div style="margin-left:35px;margin-top:20px;" name="<%=a_id%>"
         class="tab-pane fade in active code-cell edit-data"
         id="code<%=page_num%>-pan">
        <form id="edit-type-form<%=page_num%>" name="edit-type-form">
            <input type="hidden" name="number">
            <div class="form-group">
                <div class="col-auto">
                    <label name="<%=page_num%>" for="data-name<%=page_num%>">
                    <font color="#006000"><b>datatype</b></font>
                    </label>
                    <input spellcheck="false" name="data_name" id="data-name<%=page_num%>"
                           style="width:30%;background:transparent" class="form-control">
                </div>
            </div>
            <span>=</span><br>
            <div class="form-group">
                <div class="col-auto">
                    <textarea spellcheck="false" class="form-control" name="data_content" id="data-content<%=page_num%>" rows=""
                          style="overflow-y:hidden;width:60%;background:transparent"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-auto">
                    <label style="float:right;height:20%;width:100%;background:transparent">
                    <pre><%= ext_ %></pre>
                    </label>
                </div>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id='template-edit-def'>
    <div style="position:relative;margin-left:35px;margin-top:20px;" name="<%=a_id%>"
         class="tab-pane fade in active code-cell edit-data"
         id="code<%=page_num%>-pan">
        <form id="edit-def-form<%=page_num%>" name="edit-def-form">
            <div class="form-group">
                <div class="col-auto">
                    <label name="<%=page_num%>" for="data-name<%=page_num%>" style="float:left;">
                        <font color="#006000"><b><%= type_name %></b></font>
                    </label>
                    <input spellcheck="false" class="form-control" id="data-name<%=page_num%>"
                       style="margin-left:3%;margin-bottom:3%;float:left;width:50%;background:transparent" name="data_name">
                </div>
            </div>
            <div class="form-group">
                <div class="col-auto">
                    <textarea spellcheck="false" class="form-control" rows="" id="data-content<%=page_num%>" style="float:left;overflow-y:hidden;margin-top:5px;width:50%;background:transparent"
                              name="content"></textarea>
                </div>
            </div>
            <br><br>
            <div><span style="float:left;position:absolute;">for:</span></div>
            <div class="form-group">
                <div class="col-auto">
                    <textarea spellcheck="false" rows="" name="data_vars" class="form-control" id="data-vars<%=page_num%>"
                          style="float:left;margin-left:3%;overflow-y:hidden;margin-top:5px;width:40%;background:transparent"
                          placeholder="vars"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-auto">
                    <label style="float:right;height:20%;width:100%;background:transparent">
                        <pre><%= ext_str %></pre>
                    </label>
                </div>
            </div>
        </form>
    </div>
</script>
