<!DOCTYPE html>
<html lang="en">

<!--begin code mirror -->
<link rel="stylesheet" href="../static/css/client.css">
<link rel="stylesheet" href="../static/codemirror-5.41.0/lib/codemirror.css">
<link rel="stylesheet" href="../static/codemirror-5.41.0/addon/scroll/simplescrollbars.css">
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/bootstrap-select.min.css">
<link rel="stylesheet" href="../static/css/sweetalert2.min.css">
<script src="../static/js/sweetalert2.min.js"></script>
<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/js/underscore.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/bootstrap-select.min.js"></script>
<script src="../static/codemirror-5.41.0/lib/codemirror.min.js"></script>
<script src="../static/codemirror-5.41.0/addon/scroll/simplescrollbars.js"></script>
<script src="../static/codemirror-5.41.0/mode/python/python.js"></script>

<!--code folder-->
<link rel="stylesheet" href="../static/codemirror-5.41.0/addon/fold/foldgutter.css"/>
<script src="../static/codemirror-5.41.0/addon/fold/foldcode.js"></script>
<script src="../static/codemirror-5.41.0/addon/fold/foldgutter.js"></script>
<script src="../static/codemirror-5.41.0/addon/fold/indent-fold.js"></script>
<!--brackets-->
<script src="../static/codemirror-5.41.0/addon/edit/matchbrackets.js"></script>
<!--end Code Mirror -->

<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">

<link rel="stylesheet" href="../static/css/index.css">
<head>
    <meta charset="utf-8"/>
    <title>holpy web interface</title>
</head>
<body>

<!-- begin code -->

<!-- Menu -->
<div class="home-header">
    <div class="home-header-left">
        <div class="dropdown">
            <button type="button" id="additional_option" data-toggle="dropdown"
                    class="el-button el-button--mini dropdown-toggle"
                    role="button" tabindex="0">
                File
            </button>
            <div class="dropdown-menu span">
                <a class="dropdown-item fontcolor" href="#"
                   onclick="$('#open-file').click()" id="file-button">Open file</a>
                <input type="file" id="open-file" style="display:none">
                <a class="dropdown-item fontcolor" href="#"
                   onclick="$('#open-problem').click()" id="problem-button">Open problem</a>
                <input type="file" id="open-problem" style="display:none">
                <a class="dropdown-item fontcolor" href="#"
                   onclick="$('#open-json').click()" id="json-button">Open json file</a>
                <input type="text" id="open-json" style="display:none">
            </div>
        </div>
        <div class="dropdown">
            <button type="button" id="additional_option" data-toggle="dropdown"
                    class="el-button el-button--mini dropdown-toggle"
                    role="button" tabindex="0">
                Cells
            </button>
            <div class="dropdown-menu span">
                <a class="dropdown-item fontcolor" href="#" id="add-cell">Add cell</a>
                <a class="dropdown-item fontcolor" href="#" id="delete-cell">Delete cell</a>
                <a class="dropdown-item fontcolor" href="#" id="run-button">Run</a>
            </div>
        </div>
        <div class="dropdown">
            <button type="button" id="additional_option" data-toggle="dropdown"
                    class="el-button el-button--mini dropdown-toggle"
                    role="button" tabindex="0">
                Action
            </button>
            <div class="dropdown-menu span">
                <a class="dropdown-item fontcolor" href="#" id="add-line-after">Add line after</a>
                <a class="dropdown-item fontcolor" href="#" id="introduction">Introduction</a>
                <a class="dropdown-item fontcolor" href="#" id="apply-backward-step">Apply backward step</a>
                <a class="dropdown-item fontcolor" href="#" id="apply-induction">Apply induction</a>
                <a class="dropdown-item fontcolor" href="#" id="rewrite-goal">Rewrite goal</a>
            </div>
        </div>
        <div class="dropdown">
            <button type="button" id="additional_option" data-toggle="dropdown"
                    class="el-button el-button--mini dropdown-toggle"
                    role="button" tabindex="0">
                Add item
            </button>
            <div class="dropdown-menu span add-info">
                <a class="dropdown-item fontcolor" name="def.ax" href="#" id="constant">constant</a>
                <a class="dropdown-item fontcolor" name="thm" href="#" id="theorem">theorem</a>
                <a class="dropdown-item fontcolor" name="type.ind" href="#" id="datatype">datatype</a>
                <a class="dropdown-item fontcolor" name="def.ind" href="#" id="fun">fun</a>
            </div>
        </div>
        <div>
            <button class="el-button el-button--mini" id="new-file">New File</button>
        </div>
        <div class="dropdown">
            <button type="button" id="additional_option" data-toggle="dropdown"
                    class="el-button el-button--mini dropdown-toggle"
                    role="button" tabindex="0">
                Items
            </button>
            <div class="dropdown-menu span Ctrl">
                <a class="dropdown-item fontcolor" name="del" href="#" id="del">Delete</a>
                <a class="dropdown-item fontcolor" name="up" href="#" id="up">Move up</a>
                <a class="dropdown-item fontcolor" name="down" href="#" id="down">Move down</a>
            </div>
        </div>
    </div>
    <p class="login-user">{{ user }}&nbsp;
        <a href="{{ url_for('sign_out') }}" id="sign-out"
           onclick="javascript:location.replace('sign'); event.returnValue=false;">
           sign out
        </a>
    </p>
</div>

<!-- Tabs on the left side -->
<div class="left" id="left" style="width:80%;height:100%;overflow-y:scroll;overflow-x:auto;">
    <div name="tab-title" style="height:6%;">
        <span style="height:100%;width:4%;border-bottom:solid 1px;border-color:#B8B8B8;float:left;"></span>
        <li style="height:100%;list-style:none;float:left;border-top-right-radius:5px;width:30%;" id="json-tab1">
            <a class="nav-link" href="#" style="color:black">Files</a>
        </li>
        <li style="height:100%;list-style:none;float:left;border-top-right-radius:5px;width:30%;" id="json-tab2">
            <a class="nav-link" href="#" style="color:black">Content</a>
        </li>
        <li style="height:100%;list-style:none;float:left;border-top-right-radius:5px;width:30%;" id="json-tab3">
            <a class="nav-link" href="#" style="color:black">Variables</a>
        </li>
        <span style="height:100%;width:4%;border-bottom:solid 1px;border-color:#B8B8B8;float:left;"></span>
    </div>

    <div id="root-file" style="margin-top:20px;font-size:15px;"></div>
    <div id="left_json" style="margin-top:20px;"></div>
    <div id="variable" style="margin-top:20px;"></div>
</div>

<div class="right" id="right">
    <!-- Top-right side -->
    <div class="rtop">
        <div class="code-pan">
            <!-- Tabs on the right side -->
            <ul class="nav nav-tabs" id="codeTab"></ul>
            <!-- Content of each tab on the right side -->
            <div class="tab-content" id="codeTabContent"></div>
        </div>
    </div>
    <!-- Bottom-right side -->
    <div class="rbottom" style="overflow: auto">
    </div>
</div>
</body>

<script src="../static/js/util.js"></script>

<div data-include="display_results"></div>
<div data-include="edit_area"></div>
<div data-include="proof_area"></div>

<script src="../static/js/split.min.js"></script>
<script src="../static/js/editor.js"></script>
<script src="../static/js/tactics.js"></script>
<script src="../static/js/main.js"></script>
</html>
