<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../static/js/vue.js"></script>
    <script src="../static/js/axios.min.js"></script>
    <link href="../static/css/prog_verify.css" rel="stylesheet">
    <title>Program Verification</title>
</head>
<body>
    <div id="wrap">
        <div id="left-con" class="left-con">
            <div id="pro-ver" class="total left">
                <label for="files" id="set_file" :style="style_file" @mouseover="button_change" @mouseout="button_recover">Please choose a file</label>
                <input type="file" id="files" @change="get_file($event)">
                <div id="program-ver" class="program-ver">
                    <div v-for="vcg in file_data" @click="data_process($event)">
                        <textarea readonly="readonly" class="code-content con" :name="vcg.num">{{ vcg.com }}</textarea>
                    </div>
                </div>
            </div>
            <div id="ver-display" class="right">
                <br><pre class="display-con">{{ program }}</pre>
                <br><pre class="display-res">{{ proof_stat }}</pre>
                <div v-show="proof_process">
                    <textarea spellcheck="false" class="proof_process"></textarea>
                </div>
                <!-- <textarea class="display-con" name="display-area" readonly="readonly">{{ text }}</textarea> -->
            </div>
        </div>
    </div>

<script type='text/javascript' src="../static/js/prog_verify.js"></script>
</body>
</html>