<script type="text/template" id='template-tab'>
    <li class="nav-item" name="code<%=page_num%>">
        <a class="nav-link" data-toggle="tab" href="#code<%=page_num%>-pan" name="<%=page_num%>">
            <span><%=label%></span>
            <button id="close_tab" type="button" title="Remove this page" name="proof-tab">×</button>
        </a>
    </li>
</script>

<script type="text/template" id="template-codepan">
    <div class="tab-pane fade active code-cell" id="code<%=page_num%>-pan">
        <label for="code<%=page_num%>"></label>
        <textarea id="code<%=page_num%>"></textarea>
    </div>
</script>

<script type="text/template" id="template-proof-rbottom">
    <div id="prf<%=page_num%>" name="addition">
        <button class="el-button el-button--mini save_proof"
                style="margin-top:5px;width:100px;margin-left:25px;"
                theory_name="<%=theory_name%>" item_id="<%=item_id%>">
            <b>SAVE</b>
        </button>
        <button class="el-button el-button--mini reset"
                style="margin-top:5px;width:100px;"
                theory_name="<%=theory_name%>" item_id="<%=item_id%>">
            <b>RESET</b>
        </button>
        <div class="output-wrapper">
            <div class="output">
                <pre></pre>
                <div class="match-thm">
                </div>
            </div>
        </div>
        <div class="output-wrapper">
            <div id="output-instr" style="margin-top:10pt">
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="template-instruction">
    <a href="#" id="link-backward" style="float:left;margin-left:20pt"><</a>
    <span id="instruction-number" style="float:left;display:inline-block;width:30pt;text-align:center">
        <%= instr_no %>
    </span>
    <a href="#" id="link-forward" style="float:left;">></a>
    <span id="instruction" style="float:left;margin-left:10pt">
        <%= instr %>
    </span>
</script>

<script type="text/template" id="template-metadata-rbottom">
    <div id="prf<%=page_num%>" name="addition">
        <button id="<%=page_num%>" class="el-button el-button--default el-button--mini"
                style="margin-top:5px;width:100px;margin-left:25px;" name="save-metadata">
            <b>SAVE</b>
        </button>
    </div>
</script>

<script type="text/template" id="template-edit-rbottom">
    <div id="prf<%=page_num%>">
        <button class="el-button el-button--mini save-edit" style="margin-top:5px;width:20%;"
                id="save-edit-<%=page_num%>">
            <b>SAVE</b>
        </button>
        <div class="output-wrapper" style="margin-top:15px;margin-left:40px;"
             id="error<%=page_num%>">
            <pre></pre>
        </div>
    </div>
</script>

<script type="text/template" id="template-variable">
    <%
    $.each(ctxt, function(nm, T) {
    %>
        <div style="margin-left:10px;">
            <span><b><%= nm %> :: <%= highlight_html(T) %></b></span>
        </div
        ><br>
    <%
    });
    %>
</script>

<script type="text/template" id="template-match-thm">
    <div class="thm-content">
        <%
        $.each(search_res, function(i, val) {
        %>
            <pre><%= highlight_html(val.display) %></pre>
        <%
        });
        %>
    </div>
</script>

<script type="text/template" id="template-query">
    <%
    $.each(sig_list, function (i, val) {
    %>
        <label style="text-align:right;width:15%;margin-right:2%;"><%= val %>:</label>
        &nbsp;
        <input id="sig-input<%= i+1 %>" style="width:70%;" class="unicode-replace"><br>
    <%
    });
    %>
</script>
